name: Create package

on:
  workflow_dispatch:

jobs:
  create-package:
    runs-on: ubuntu-latest
    container:
      image: archlinux:base
    permissions:
      contents: read

    steps:
      - name: Prepare pacman environment
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman-key --init
          pacman-key --populate
          pacman -Syu --noconfirm base-devel git

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Build the package
        run: |
          useradd -m builder
          chown -R builder:builder "$GITHUB_WORKSPACE"
          runuser -u builder -- makepkg -s --noconfirm

      - name: Upload build package
        uses: actions/upload-artifact@v5
        with:
          name: quantumlauncher-bin
          path: quantumlauncher-bin-*-x86_64.pkg.tar.zst
